.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
target/
.idea/
out/
build/
gen/
local.properties
**/build/
**/gen/
**/classes/
library/SMSSDK/bin
*.ipr
*.iws
.gradle/
*.apk
